# build files
build/
release/
builddir/
.buildconfig
*.changes
*.buildinfo
debhelper-build-stamp
*.dsc
*.tar.gz
*.tar.xz

# beautifier files
.beautifier/

# backup files
*~

#editor files
.editorconfig

# version control files
.git
.bzr
