[Desktop Entry]
Name=Launchar
GenericName=Launcher
Comment=A simple application launcher built with GTK.
Exec=launchar
Icon=start-here
Type=Application
StartupNotify=true
Categories=GNOME;
MimeType=text/plain;
Keywords=Launchar;
