[Desktop Entry]
Name=Launchar
GenericName=Launcher
Comment=Simple Application Launcher
Exec=launchar
Icon=start-here
Type=Application
StartupNotify=true
Categories=GNOME;
MimeType=text/plain;
Keywords=Launchar;
