[Desktop Entry]
Name=Lawnchair
GenericName=Launcher
Comment=A simple application launcher.
Exec=lawnchair
Icon=start-here
Type=Application
StartupNotify=true
Categories=GNOME;
MimeType=text/plain;
Keywords=Lawnchair;lawnchair;launcher;
