[Desktop Entry]
Name=Lawnchair
GenericName=Application Launcher
Comment=A simple application launcher.
Exec=lawnchair
Icon=start-here
Type=Application
Categories=System;
Keywords=Lawnchair;lawnchair;launcher;
StartupNotify=true
MimeType=text/plain;
